
main{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: auto;
    justify-content: center;
}

.div-assinatura{
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    padding: 1rem;
}
.div-checkbox{
    color: white;
    margin-top: 0.5rem;
    width: 100%;
    font-size: 2rem;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: row;
}

.btn{
    margin-top: 0.5rem;
    padding: 1rem;
}
input{
    width: 50%;
    padding: 0.5rem;
}

input[type="checkbox"]{
    margin: 0;
    padding: 0.5rem;
    width: 1.5rem;
}

label{
    font-size: 0.7rem;
}

@media (min-width: 767px) {
    main{
        align-items: center;
    }
    .div-assinatura{
        align-items: start;
        justify-content: center;
        width: 80%;
    }
}
