:root {
 --space-xs: 0.25rem;
 --space-sm: 0.5rem;
 --space-md: 1rem;
 --space-lg: 1.5rem;
 --space-xl: 2rem;
}
.section {
 padding: var(--space-lg); 
 marginbottom: var(--space-xl);
} 

/* Base */
html, body {
font-size: 16px;
  height: 100%; /* Ocupa toda a altura da tela */
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  display: flex;
  flex-direction: column; /* Permite empurrar o footer para baixo */
}

/* HEADER */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(151, 151, 151);
  padding: 1rem;
  flex-wrap: wrap;
}
.logo {
  font-weight: bold;
  font-size: 1.5rem;
}
.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  color: black;
  text-decoration: none;
}
.buscador {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}
/*MAIN*/
.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.div-resultado{
  display: flex;
  flex-direction: column;  
  width: 80%;
  gap: 0.5rem;
}
.div-resultado div {
  border: 1px solid black;
  border-radius: 1rem;
  padding: 0.5rem;
}
.div-img {
  grid-area: img;
}
.h3-titulo {
  grid-area: titulo;
}
.p-texto {
  grid-area: texto;
}
.grid-pesquisa {
  display: grid;
  height: 40%;
  width: 100%;
	grid-template-areas:
		"img titulo titulo"
		"img texto texto"
	;
  gap: 0.5rem;
}
.div-img{ 
  background-color: rgb(201, 201, 201);
  border-radius: 1rem;
}

/* FOOTER */
footer {
  background-color: rgb(151, 151, 151);
  color: white;
  text-align: center;
  padding: 1rem;
}
.rodape {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.btn-outros{
  color: black;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5em;
  padding: 0.5rem;
  padding-right: 10%;
  border: none;
  cursor: pointer;
}
@media (max-width: 480px) {
  .div-img{
    width: 10em;
  }
}
@media (max-width: 767px) {
  .nav-bar {
    flex-direction: row;   /* mantém em linha */
    justify-content: center; /* centraliza tudo */
    flex-wrap: wrap;
  }
}
