
/* LOGIN */
.principal {
  display: flex;
  background-color: rgb(238, 238, 238);
  height: 100%;
  justify-content: center;
  align-items: center; /* Centraliza verticalmente */
  padding: 1rem;
}
.div-cadastro {
  background-color: rgb(206, 206, 206);
  border-radius: 0.5em;
  padding: 0.5rem;
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
}

.div-cadastro input[type="text"],
.div-cadastro input[type="password"] {
  width: 90%;
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.checkbox-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

@media (max-width: 767px) {
  .nav-bar {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  } 
}
