/* MAIN  */
.principal{
    display: grid;
    gap: 0.5rem;
    padding: 0.5rem;
}
.principal div{
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 0.5rem; 
    padding: 1rem;
}
.btn-filtro{
    color: #000000;
    background-color: white;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid #000;
    cursor: pointer;
}
.div-filtro {
    grid-column: 1 / -1;   /* ocupa toda a largura da grid */
    display: flex;
    flex-direction: column; /* título em cima, botões abaixo */
    align-items: flex-start; /* alinha à esquerda */
    gap: 0.5rem;
    margin: 1rem;
}
.div-destaque-img{

    border: 1px solid black;
    border-radius: 0.5rem;
    width: 70%;
    height: 7rem; 
}
@media (min-width: 400px) {
.div-destaque-img{
    height: 7rem; 
}
.principal{
    grid-template-columns: repeat(3, 30%);
}
.div-filtro {
    display: grid;
    gap: 0.5rem;
    margin: 0.5rem;
}

}
.div-alinhamento{
    
}