/* Organizando as áreas da página */
.principal{
    display: grid;
    padding: 0.5rem;
    grid-template-areas: 
    "nav-menu header-valores"   
    "nav-menu section-post"    
    ;
}
.nav-menu{
    grid-area: nav-menu;
    padding: 1rem;
}
.header-valores{
    grid-area: header-valores;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0 1px 2px black;
}
.section-post{
    grid-area: section-post;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 0.5rem;
    box-shadow: 0 2px 4px black;
}

section{
    padding: 1rem;
}
.input-titulo{
    width: 90%; /* largura da tela */
    padding: 0.5rem; /* 1rem para o input do título */
}