/* Variáveis de espaçamento */
:root {
 --space-xs: 0.25rem;
 --space-sm: 0.5rem;
 --space-md: 1rem;
 --space-lg: 1.5rem;
 --space-xl: 2rem;
}
.section {
 padding: var(--space-lg); 
 margin-bottom: var(--space-xl);
} 

/* Base */
html, body {
  margin: 0px;
  font-size: 16px;
  height: 100%; /* Ocupa toda a altura da tela */
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  display: flex;
  flex-direction: column; /* Permite empurrar o footer para baixo */
}


/* BOTÕES  PADRONIZADOS*/
.btn {
  color: #046850;
  background-color: white;
  border-radius: 0.5em;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
}
.btn:hover {
  background-color: #046850;
  color: white;
}
/* NAV BAR SEM ESTILO */
nav ul{ /*Tira o formato de lista*/
  font-style: none;
}

nav ul a {
  color: #000;
  text-decoration: none;
}
.header-valores div{
    border: 1px solid lightgray;
    border-radius: 0.5rem;
}
.header-valores{
    grid-area: header-valores;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0 1px 2px black;
}
