
.container{
	display: grid;
    border: 1px solid black;
}
.container div{
    border: 1px solid black;
}

.h1{
    grid-area: h1;
}
.p {
	grid-area: p;
}

.div-img {
	grid-area: img;
}

.container {
    display: grid;
	grid-template-areas:
		"img p p"
		"img h1 h1"
		;
}
