/* MAIN  */
.principal{
    display: grid;
    padding: 0.5rem;
    grid-template-areas: 
    "nav-menu header-valores"   
    "nav-menu section-post"    
    ;
}
.nav-menu{
    grid-area: nav-menu;
    padding: 0.5rem;
}
.header-valores{
    grid-area: header-valores;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0 1px 2px black;
}
.div-comentarios{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0.5rem;
}
.header-comentarios{
    display: flex;
    flex-direction: column;
}
.div-titulo{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 0.5rem;
    box-shadow: 0 1px 2px black;
}
.div-autor{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    justify-content: space-around;
    box-shadow: 0 1px 2px black;
}
.div-status{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    justify-content: space-around;
    box-shadow: 0 1px 2px black;
}
.div-acoes{
    display: flex;
    flex-direction:column;
    padding: 0.5rem;
    justify-content: space-around;
    box-shadow: 0 1px 2px black;
}

.section-comentarios{
    grid-area: section-post;
    display: grid;
    align-items: flex-start;
    gap: 1rem;
    padding: 0.5rem;
    box-shadow: 0 2px 4px black;
}

.section-comentarios input{
    width: 90%;
    padding: 0.5rem;
    box-sizing: border-box;
    font-size: 0.875rem;
}
.comentario{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
}

@media (min-width: 767px) {
.div-comentarios{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    height: 100%;
    padding: 0.5rem;
}
.div-comentarios .div-acoes{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;


}
.header-valores {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        gap: 1rem;
    }
 

}
