/* Base */
html, body {
  margin: 0px;
  font-size: 16px;
  height: 100%; /* Ocupa toda a altura da tela */
  font-family: Arial, sans-serif;
  background: #ffffff;
}
/* layout principal da tela */
.Navbar{
    grid-area: Navbar;
    background-color: rgb(5, 5, 161);
    padding: 1rem;
    height: auto;
    display: flex;
    flex-direction: column;
    width: 15rem;
}
.Header-superior{
    grid-area: Header-superior;
}
.main-projetos{
    grid-area: main-projetos;
}

body{
    display: grid;
    grid-template-areas: 
    "Navbar Header-superior"
    "Navbar main-projetos"
    ;
}
/* Configuracao do menu de navegacao */
.Navbar a{
    color: white;
    list-style: none;
    text-decoration: none; 
}
.Navbar li{
    background-color: rgb(5, 5, 161);
    list-style: none;
    text-decoration: none; 
    padding-top: 1rem;
}
.Navbar ul{
    padding: 1rem;
}
/* design botoes */
.btn{
    border-color: blue;
    width: 18rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: rgb(2, 2, 179);
    background-color: white;
}
.btn:hover{
    color: white;
    background-color: blue;
}