/* MAIN  */
.principal{
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    padding: 0.5rem;
}
.principal div{
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 0.5rem; 
    padding: 1rem;
}
.btn-filtro{
    width: auto;
    color: #000000;
    background-color: white;
    border-radius: 1rem;
    padding: 0.5rem;
    border: 1px solid #000;
    cursor: pointer;
}
.div-filtro {
    display: flex;
    flex-direction: column; /* título em cima, botões abaixo */
    align-items: flex-start; /* alinha à esquerda */
    gap: 0.5rem;
    padding: 1rem;
}
.div-destaque-img{
    border: 1px solid black;
    border-radius: 0.5rem;
    width: 70%;
    height: 7rem; 
}
@media (min-width: 767px) {
    .principal{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 1023px) {
    .principal{
        grid-template-columns: repeat(3, 1fr);
    }
}